.film {
  width: 266px;
}

.film__image {
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  margin-bottom: 24px;
}

.film__image img {
  width: 266px;
  height: 357px;
}

/* .film__info {
} */

.film__info__title {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 4px;
}

.film__info__type {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #afb2b6;
}
