.default-input {
  font-family: "Exo 2", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  height: 56px;
  border: none;
  background: #323537;
  border-radius: 10px;
  width: 100%;
  padding: 0 20px;
}

.default-input:focus {
  outline: 2px solid #7b61ff;
}

.default-input._error {
  outline: 2px solid #ff5154;
}
