.search {
  /* width: 100%; */
  flex-grow: 1;
  position: relative;
}

.search__input {
  width: 100%;
  font-family: "Exo 2", sans-serif;
  padding: 16px 55px 16px 20px;
  background: #323537;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.search__input:focus {
  outline: 2px solid #7b61ff;
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
  position: absolute;
  top: 16px;
  right: 20px;
  cursor: pointer;
}
