.search {
  /* width: 100%; */
  flex-grow: 1;
  position: relative;
}

.search__input {
  width: 100%;
  font-family: "Exo 2", sans-serif;
  padding: 16px 55px 16px 20px;
  background: #323537;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.search__input:focus {
  outline: 2px solid #7b61ff;
}

.filter {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
  position: absolute;
  top: 22px;
  right: 20px;
  cursor: pointer;
}

.filter__item1,
.filter__item2,
.filter__item3 {
  border-radius: 10px;
  height: 2px;
  background-color: #afb2b6;
}

.filter__item1._active,
.filter__item2._active,
.filter__item3._active {
  background-color: #ffffff;
}

.filter__item1 {
  width: 16px;
}

.filter__item2 {
  width: 11px;
}

.filter__item3 {
  width: 7px;
}

.filter__circle._active {
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #7b61ff;
  top: 11px;
  left: -3px;
}
