* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

body {
  background-color: #000000;
}

body._light {
  background: #ffffff;
}

._container {
  max-width: 1920px;
  padding: 0 60px;
  margin: 0 auto;
}
